.warning {
    color: orange;
}

br {
    display: block;
    margin: 2px 0;
}

body {
    font-family: "Lato", sans-serif;
}

.navbar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #424242;
    /*overflow-x: hidden;*/
    padding-top: 20px;
}

.navbar a {
    padding: 6px 8px 6px 16px;
    font-size: 20px;
    display: block;
    text-decoration: none;
    color: #757474;
}

.navbar a:hover {
    color: #a3a3a3;
}

.seperator {
    background-color: #363535;
}

.section {
    background-color: #777;
    color: white;
    outline: none;
    border: none;
    width: 100%;
    cursor: pointer;
    padding: 18px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
}

.content {
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2 ease-out;
    background-color: #f1f1f1;
}

.active, .section:hover {
    background-color: #555;
}

.main {
    margin-left: 160px;
    padding: 0px 10px;
    font-size: 18px;
}